@import '../../helpers/pxrem.scss';

.loader-wrapper {
  position: relative;
  z-index: 99;
  .loader {
    width: rem(100);
    height: rem(100);
    margin: rem(70) 0 0 rem(50);
    background-image: url('../../assets/loader.gif');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
